.app {
  margin: auto;
  position:absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 420px;
  height: 800px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.message-list {
  background: #EBEAEB;
  height: calc(100% - 82px);
  overflow: auto;
  padding: 10px;
}

.other-message{
  line-height: 33px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 8px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
}